<p>

</p>
<br>
<div >
    <label>ID  </label> <input type="number" name="id" id="id" [(ngModel)] ="id">

    <label>Tipo  </label><input type="text" name="tipo" id="tipo" [(ngModel)] ="tipo">
    <label>Nombre  </label><input type="text" name="nombre" id="nombre" [(ngModel)] ="nombre">
<input type="button" value="Añadir" (click)="addVehiculo()">
</div>
  <div >
      <table  class="table table-bordered">
        <thead>
          <th>Id</th>
          <th>Tipo</th>
          <th>Nombre</th>
         
        </thead>
        <tbody>

        <tr *ngFor="let elementos of listaVehiculos">
          <td >{{elementos.id}}</td>
          <td> {{elementos.tipo}}  </td>
          <td><i>{{elementos.nombre}} </i></td>
        </tr>
        </tbody>
      </table>

    
  </div>
