


<nav>
<li> <a routerLink="/vehiculos" routerLinkActive="active">Vehiculos  </a>
     <a routerLink="/registros" routerLinkActive="active">Registros  </a>
     <a routerLink="/distancias" routerLinkActive="active">Distancia  </a>

</li>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
<router-outlet></router-outlet>
