<div >
    <label>Distancia  </label> <input type="number" name="distancia" id="distancia" [(ngModel)] ="distancia">
    <label>X  </label><input type="number" name="x" id="x" [(ngModel)] ="pos_x">
    <label>Y  </label><input type="number" name="y" id="y" [(ngModel)] ="pos_y">
    <label>Z  </label><input type="number" name="z" id="z" [(ngModel)] ="pos_z">
<input type="button" value="Añadir" (click)="RequestDistbutton()">
</div>
<div >
    <table  class="table table-bordered">
      <thead>
        <th>Id Vehiculo</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Hora</th>
        <th>Fecha</th>
      </thead>
      <tbody>

      <tr *ngFor="let elementos of listaDistancias">
        <td >{{elementos.movil.id}}</td>
        <td> {{elementos.movil.tipo}}  </td>
        <td><i>{{elementos.movil.nombre}} </i></td>
        <td> {{elementos.hora}}  </td>
        <td> {{elementos.fecha}}  </td>
      </tr>
      </tbody>
    </table>

  
</div>
