
<div >
    <label>fecha  </label> <input type="text" name="fecha" id="fecha" [(ngModel)] ="fecha">
    <label>hora  </label><input type="text" name="hora" id="hora" [(ngModel)] ="hora">
    <label>X  </label><input type="number" name="x" id="x" [(ngModel)] ="pos_x">
    <label>Y  </label><input type="number" name="y" id="y" [(ngModel)] ="pos_y">
    <label>Z  </label><input type="number" name="z" id="z" [(ngModel)] ="pos_z">
    <label>ID Vehiculo  </label><input type="text" name="idV" id="idV" [(ngModel)] ="id_vehiculo">
<input type="button" value="Añadir" (click)="addRbutton()">
</div>
  <div >
      <table  class="table table-bordered">
        <thead>
          <th>Id Registro</th>
          <th>Id Vehiculo</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Pos X</th>
          <th>Pos Y</th>
          <th>Pos Z</th>

         
        </thead>
        <tbody>

        <tr *ngFor="let elementos of listaRegistros">
          <td >{{elementos.id_registro}}</td>
          <td> {{elementos.id_vehiculo}}  </td>
          <td> {{elementos.fecha}}  </td>
          <td> {{elementos.hora}}  </td>
          <td><i>{{elementos.pos_x}} </i></td>
          <td><i>{{elementos.pos_y}} </i></td>
          <td><i>{{elementos.pos_z}} </i></td>
        </tr>
        </tbody>
      </table>

    
  </div>
