.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .lista {
    margin: 0 0 2em 0;
    list-style-type: square;
    padding: 0;
    width: 15em;
   
    column-count: auto;
  }
  .lista li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    justify-items: left;
   
  }
  .lista li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  } 
  .lista li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .lista .text {
    position: relative;
    top: -3px;
  }
  .lista .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #604D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    column-count: auto;
  }
 
  div {
    column-count: 1;
  }
  .fa {
    font-size: 1.2rem;
  }
  
  input {
    padding: .375em .75em !important;
  }

  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
   
  button:hover {
    background-color: #cfd8dc;
  }
   
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
   
  .lista li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .lista li.selected:hover {
    background-color: #BBD8DC;
  }

  h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  a {
    cursor: pointer;
    cursor: hand;
  }